<!DOCTYPE html>
<html>
<body>

<h2>TO-DO PAGE</h2>

<form action="/submit" method="POST">
  <label for="iname">Item Name:</label><br>
  <input type="text" id="iname" name="Item Name" value=""><br>
  <label for="Idescription">Item Description:</label><br>
  <input type="text" id="Idescription" name="Idescription" value=""><br><br>
  <label for="iid">Item ID:</label><br>
  <input type="text" id="iid" name="Item ID" value=""><br>
  <input type="submit" value="Submit">
</form> 

<p>If you click the "Submit" button, the form-data will be sent to a page called "/action_page.php".</p>

</body>
</html>